[submodule "third_party/OrbbecSDK_ROS2"]
	path = third_party/OrbbecSDK_ROS2
	url = https://github.com/orbbec/OrbbecSDK_ROS2.git
	branch = v2-main
[submodule "third_party/ros2_robotiq_gripper"]
	path = third_party/ros2_robotiq_gripper
	url = https://github.com/PickNikRobotics/ros2_robotiq_gripper.git
