[submodule "third_party/OrbbecSDK_ROS2"]
	path = third_party/OrbbecSDK_ROS2
	url = https://github.com/orbbec/OrbbecSDK_ROS2.git
	branch = v2-main
[submodule "third_party/luci-ros2-grpc"]
	path = third_party/luci-ros2-grpc
	url = https://github.com/rammp-org/luci-ros2-grpc.git
[submodule "third_party/luci-ros2-msgs"]
	path = third_party/luci-ros2-msgs
	url = https://github.com/lucimobility/luci-ros2-msgs.git
